.infinity-banner {
  --color-background: rgb(41, 37, 36);
  --color-text: white;
  background-color: var(--color-background);
  min-height: 50px;
  background-repeat: repeat;
  color: var(--color-text);
}
