.infinity-banner {
  --color-background: rgb(41, 42, 41);
  --color-text: white;
  background-color: var(--color-background);
  min-height: 50px;
  background-repeat: repeat;
  color: var(--color-text);
}
.infinity-banner * {
  max-width: var(--lwc-cptPageMaxWidth, 1400px);
  padding: 0;
  margin: auto;
}