.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}
.title {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bold;
}
.progress {
  min-width: 60%;
}
