.button-group-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vw;
}
.button-group-container.horizontal {
  flex-direction: row;
}
.button-group-container.vertical {
  flex-direction: column;
}
