/** CONTAINER */
.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2px;
  min-height: 100px;
  min-width: 100px;
  --color-light: #e9ecef;
  --color-dark: #343a40;
}
.container.small {
  height: 7vw;
  width: 7vw;
}
.container.large {
  height: 15vw;
  width: 15vw;
}
.container.dark {
  background-color: var(--color-dark);
}
.container.light {
  background-color: var(--color-light);
}

/** BUTTON */
button.btn {
  background: transparent;
  border: 1px solid black;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

/** LABEL CONTAINER */
.label-container {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 10%;
  justify-content: flex-end;
  padding: 10% 0;
  position: absolute;
  width: 100%;
  --color-light: #e9ecef;
  --color-dark: #343a40;
}
.label-container.overlay {
  background: transparent;
}
.label-container.contained.light {
  background: var(--color-dark);
}
.label-container.contained.dark {
  background: var(--color-light);
}

/** LABEL */
h5.label {
  padding-right: 8px;
  text-align: right;
}
h5.label.small {
  font-size: max(12px, 1vw);
}
h5.label.large {
  font-size: max(12px, 1.5vw);
}
h5.label.contained.light {
  color: var(--color-light);
}
h5.label.overlay.light {
  color: var(--color-dark);
}
h5.label.contained.dark {
  color: var(--color-dark);
}
h5.label.overlay.dark {
  color: var(--color-light);
}
