ol.slds-setup-assistant {
  padding: 0;
}
.item {
  margin: 2rem 0;
}
p.item-additional-info {
  font-size: 0.85rem;
  color: #696969;
  margin-top: 1rem;
}
p.item-description {
  font-size: 1rem;
  color: black;
}
.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.badge {
  margin-top: 1rem;
}
