.container {
  margin-top: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 7fr 1fr;
  column-gap: 8px;
  align-items: center;
  justify-items: stretch;
  padding: 0.25rem 0.5rem;
}

.user-info {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-left: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
h2.name {
  font-weight: bold;
  font-size: 0.9rem;
}

p.subtitle {
  font-size: 0.75rem;
  color: grey;
}
lightning-button {
  margin-left: auto;
}

.load {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 100%;
}

.open {
  border-top: 5px solid transparent;
  animation: load-animate infinite linear 1s;
}

@-webkit-keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 4fr 6fr 2fr;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 4fr 6fr 2fr;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: 3fr 7fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 2fr 8fr 1fr;
  }
}
