.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0.25rem;
}
h3 {
  font-size: 0.65rem;
  margin: 0 0.1rem 0 0.2rem;
}
.tooltip {
  margin: 0 0 1px 0.25rem;
}

.icon {
  --sds-c-icon-color-foreground-default: #2494ab;
}
@media only screen and (min-width: 600px) {
  h3 {
    margin: 0 0.1rem 0 0.15rem;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 0.65rem;
  }
}

@media only screen and (min-width: 992px) {
  h3 {
    margin: 0 0.1rem 0 0.15rem;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 0.75rem;
    margin: 0 0.15rem 0 0.3rem;
  }
}
