.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0.25rem;
  cursor: pointer;
}
.tooltip {
  margin: 0 0 1px 0.25rem;
}

.icon {
  --sds-c-icon-color-foreground-default: var(
    --lwc-colorTextLink,
    rgb(228, 32, 40)
  );
}
