.blog-card {
  background: #fdfdfd;
  width: 100%;
  min-width: 240px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0 35px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #0c4271;
}
.card-title {
  margin-left: 0.15rem;
  text-transform: capitalize;
  width: 100%;
  color: white;
}
.section-container {
  margin-bottom: 0.3rem;
}

.section-title {
  padding: 0.5rem;
  width: 100%;
  text-transform: capitalize;
  min-height: 5px;
  background-color: #0c4271;
  color: white;
}

.section-content {
  padding: 0.5rem;
  margin-top: 0.15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  text-transform: capitalize;
}

.card-icn {
  --sds-c-icon-color-foreground-default: white;
  /* --sds-c-icon-color-foreground: white;
  --sds-c-icon-color-background: white; */
}
