.container {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  scroll-padding-bottom: 8px;
  min-height: 200px;
}
.item {
  margin: 0 0.5rem;
}
.container::-webkit-scrollbar-track {
  margin-top: 6px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
}

.container::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #44a8fb;
}
