* {
  --color-background: rgb(11, 70, 126);
  --color-hover-shadow: rgb(11 70 126 / 30%);
  --color-text: rgb(255, 255, 255);
}
.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  max-height: 30rem;
  max-width: 480px;
  min-height: 180px;
  width: 100%;
  align-items: flex-start;
}

.card:hover {
  box-shadow: 0 10px 8px var(--color-hover-shadow);
}

.background {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  overflow-y: hidden;
  max-height: 15rem;
}
.header {
  padding-top: max(12px, 2%);
  padding-right: max(14px, 2%);
  padding-bottom: max(24px, 2%);
  padding-left: max(14px, 2%);
}
.title {
  font-size: max(1.3rem, 18px);
  font-weight: bold;
}
.description {
  font-size: max(0.9rem, 14px);
  line-height: 1.2;
}
.image-container {
  width: 100%;
  height: 100%;
}
img {
  height: 100%;
  /* object-fit: cover; */
}
