.container {
  width: 100%;
  padding: 24px 0;
  --color-background: rgb(255, 255, 255);
  --color-tab-inactive-background: rgb(245, 245, 245);
  --color-tab-hover-background: rgb(249, 250, 251);
  --color-tab-text: rgb(7, 68, 111);
  --color-text: rgb(64, 100, 142);
  --color-button: rgb(19, 157, 244);
  --color-button-hover: rgb(0, 83, 136);
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin: 0;
  padding: 12px;
}

.card {
  margin: 0 0 20px;
  background-color: white;
  border: 0 solid transparent;
  font-size: 0.875rem;
  line-height: 1.375rem;
  -webkit-box-shadow: 0 1px 1px 0 rgb(60 64 67 / 10%),
    0 1px 3px 1px rgb(60 64 67 / 20%);
  box-shadow: 0 1px 1px 0 rgb(60 64 67 / 10%), 0 1px 3px 1px rg;
}

.nav-tabs {
  padding-left: 0;
  list-style: none;
  display: block;
  width: 100%;
}

.nav-tab {
  color: var(--color-tab-text);
  background-color: var(--color-tab-inactive-background);
  position: relative;
  display: block;
  text-decoration: none;
  padding: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}
.nav-tab.active {
  background-color: var(--color-background);
}
.nav-tab:not(.active):hover {
  background-color: var(--color-tab-hover-background);
}
.nav-tab-title {
  font-weight: bold;
  font-size: 1rem;
}

.forgot-password {
  font-size: 0.75rem;
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  width: 100%;
}
.nav-content {
  color: var(--color-text);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: transparent;
  padding: 20px;
  position: relative;
}

form {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
form > * {
  width: 100%;
}
.input-group-inline-submit {
  display: table;
  border-collapse: separate;
  position: relative;
}
.input-group-inline-submit input {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
  padding: 12px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #ccc;
}
.input-group-inline-submit input:focus {
  border-color: var(--color-text);
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.input-group-addon {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0 12px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: var(--color-button);
  border: 1px solid var(--color-button);
  border-left: 0;
  cursor: pointer;
  width: 1% !important;
  vertical-align: middle;
  display: table-cell;
}
.input-group-addon:hover {
  background-color: var(--color-button-hover);
  border: 1px solid var(--color-button-hover);
}
.submit-button {
  margin-top: 16px;
}

lightning-input.input {
  --slds-c-input-text-color: var(--color-text);
  --lwc-formLabelFontSize: 16px;
  -webkit-text-fill-color: var(--color-text);
  font-size: 16px;
}
lightning-icon.icon-primary {
  --slds-c-icon-color-foreground-default: var(--color-text);
}
lightning-icon.icon-white {
  --slds-c-icon-color-foreground-default: white;
}
lightning-input.input * {
  font-size: 16px;
}

.slds-button.slds-button_brand.submit-button {
  --slds-c-button-brand-color-background: var(--color-button);
  --slds-c-button-brand-color-border: var(--color-button);
  --slds-c-button-brand-color-background-active: var(--color-button-hover);
  --slds-c-button-brand-color-border-hover: var(--color-button-hover);
  --slds-c-button-brand-color-background-hover: var(--color-button-hover);
  --slds-c-button-color-border-active: var(--color-button-hover);
}

@media (min-width: 660px) {
  .nav-tab {
    display: table-cell;
    width: 1%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .submit-button {
    width: 66% !important;
    margin-left: auto;
    margin-right: 0;
  }
}
