:host {
  --color-background: #f2f2f2;
}
.card {
  background-color: var(--color-background);
  /* box-shadow: 2px 2px 10px #ccc; */
  margin-top: 1rem;
  min-height: 125px;
  padding: 8px 16px;
  position: relative;
  width: 100%;
  border-radius: 2px;
}
.table-container {
  background-color: var(--color-background);
  min-height: 250px;
  /* box-shadow: 2px 5px 10px #ccc; */
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-top: 1rem;
}
.table {
  min-height: 250px;
  padding: 8px;
  position: relative;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--color-background) 0%,
    var(--color-background) 50%,
    white 50%,
    white 100%
  );
}

.table-title {
  color: var(--lwc-colorTextLink, rgb(228, 32, 40)) !important;
  font-weight: bold;
  margin-top: 1.75rem;
}
.table-heading {
  background-color: var(--color-background);
  padding: 8px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}
.custom-field {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}
.table .custom-field {
  border-top: 1px solid #d6d6d6;
  justify-content: space-between;
}
.table .custom-field:first-of-type {
  border-top: none;
}
.custom-label {
  background-color: var(--color-background);
  font-weight: bold;
  margin-right: auto;
}
.no-data {
  background-color: #f1f1f1;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.75rem;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .table-container {
    width: 70%;
  }
}
