.blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  height: 100%;
}

.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
