@media screen and (min-width: 320px) {
  .container {
    --color-background: rgb(237, 237, 237);
    --color-text: rgb(112, 112, 112);
    --color-header: rgb(11, 70, 126);
  }
  .background {
    width: 100%;
    background: var(--color-background);
    padding: 8px 0;
  }
  .footer {
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3.section-header {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1rem;
    color: var(--color-header);
    display: flex;
    align-items: center;
  }
  .link {
    margin: 0.25rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1rem;
    color: var(--color-text);
    background-color: var(--color-background);
  }

  .collapsible {
    padding: 4px 1.5rem;
    width: 100%;
    border: none;
  }
  .content {
    margin: 8px 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .arrow-icon {
    display: inline-block;
    margin-left: 0.25rem;
    margin-top: -1px;
    --slds-c-icon-color-foreground-default: var(--color-header);
  }
}

@media screen and (min-width: 320px) {
  .link {
    font-size: 0.9rem;
  }

  h3.header {
    font-size: 1rem;
  }

  .content {
    margin: 6px 0;
  }

  .background {
    padding: 12px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h3.header {
    cursor: text;
  }
  .content {
    max-height: none;
  }
  .header:after {
    content: "";
  }

  .header.active:after {
    content: "";
  }

  .arrow-icon {
    display: none;
  }
}
