@media screen and (min-width: 320px) {
  .background {
    width: 100%;
    background: rgb(237, 237, 237);
    padding: 8px 0;
  }
  .footer {
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3.header {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
    color: rgb(11, 70, 126);
  }
  h4.link {
    cursor: pointer;
    margin: 0.25rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
    color: rgb(112, 112, 112);
  }

  .collapsible {
    padding: 4px 1.5rem;
    width: 100%;
    border: none;
  }
  .header:after {
    content: "⯆";
    font-weight: bold;
    margin-left: 5px;
  }

  .header.active:after {
    content: "▲";
  }
  .content {
    margin: 8px 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h3.header {
    cursor: text;
  }
  .content {
    max-height: none;
  }
  .header:after {
    content: "";
  }

  .header.active:after {
    content: "";
  }
}
