.es-file-grid-uploader {
}
.form {
  margin: 1rem 0;
  padding: 0 12px;
}
.field-display {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 180px;
}
.field-label {
  font-weight: bold;
  margin-right: 8px;
  word-break: break-word;
  width: 100%;
}
.doc-display {
  margin-left: 8px;
}
.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card {
  border-radius: 5px; /* 5px rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  transition: 0.3s;
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #212121c4;
}

.grid {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 2rem;
  padding: 1rem;
  row-gap: 1rem;
}

.zone {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  display: flex;
  height: 100%;
  min-height: 150px;
  border-radius: 5px;
  width: 100%;
}
