.icon-btn {
  margin-left: 8px;
  top: 0;
}
.icon-btn-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.lookup-container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.custom-lookup {
  width: calc(100% - 48px);
}
