.disabled {
  background-color: #9f9f9f !important;
  opacity: 0.85;
  color: rgba(255, 255, 255, 0.85);
}
.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  margin-left: 10px;
}
