:host {
    --color-primary: #5c255fe8;
    --color-text: white;
}

.icon-container {
    position: relative;
}

.badge {
    position: absolute;
    top: -12px;
    right: -15px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background-color: var(--color-primary);
    color: var(--color-text);

}
