header {
  --bg-color: #2a2a2a;
  --text-color: rgb(255, 255, 255);
  --main-color: rgb(40, 204, 183);
  --second-color: #ccc;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}
.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid #ffffff1a;
  padding: 12px 15%;
}

span {
  color: var(--main-color);
}
.navlist {
  display: flex;
}
.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}
.navlist a:hover {
  color: var(--main-color);
}
.navlist a.active {
  color: var(--main-color);
}
.menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  --sds-c-icon-color-foreground-default: var(--text-color);
}

@media (max-width: 1480px) {
  header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 10px 2.5%;
    transition: 0.1s;
  }
}

@media (max-width: 840px) {
  .menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }
  .navlist a:hover {
    color: var(--main-color);
  }
  .navlist a.active {
    color: var(--text-color);
  }
  .navlist.open {
    top: 100%;
  }
}
